section {
  width: 90%;
  position: relative;
  left: 5%;
}

.py-3 {
  text-align: center;
}

.h1 {
  margin-top: 5%;
}

.list {
  margin: 0 auto;
  display: block;
  text-align: left;
  width: 20%;
}

@media (max-width: 800px) {
  .list {
    width: 100%;
    text-align: left;
    margin: 10px 10px 20px 10px;
  }

  .row {
    position: relative;
    bottom: 100px;
  }

  .bubu {
    position: relative;
    bottom: 100px;

  }
